/* exported svg styles */
.st1 {
    fill: #FFFFFF;
}

.st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 1.25;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #CC3333;
}

.st17 {
    fill: #E8A59B;
}

.st18 {
    fill: #A66E68;
}

.st19 {
    fill: #DD7668;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #990000;
}

.st21 {
    fill: #660000;
}

.st22 {
    opacity: 0.23;
}

.st23 {
    fill: #7E0000;
}

.st25 {
    stroke: #000000;
    stroke-width: 0.9839;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #CC3333;
    stroke: #000000;
    stroke-width: 0.9839;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #E8A59B;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #231F20;
}

/* typography */
text.info, div.info {
    font-size: 18px;
    color: #222;
    padding: 0.5em 1em;
    display: block;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 55%;
}

/* custom properties for animation */
:root {
    --size: 0.8;
    --invsize: calc(1 / var(--size));
    --flow-rate: 5s;
    --opacity-rate: calc(var(--flow-rate) *1.01);
    --spin-rate: calc(var(--flow-rate)* 0.8);
}

#Rect-inner, 
#Circle-inner {
    transform-box: fill-box; 
    transform-origin: center;
    -webkit-transform: scale(var(--size));
    -moz-transform: scale(var(--size));
    transform: scale(var(--size));
}

#RBC_circle {
    animation: animate-opacity var(--flow-rate) ease-in-out infinite;
}

#RBC_rect {
    animation: animate-x var(--flow-rate) linear infinite;
}

g.spin {
    transform-box: fill-box; 
    transform-origin: center;
    transform-origin: center center; /* moved here */

    -webkit-transform: scale(var(--invsize));
    -moz-transform: scale(var(--invsize));
    transform: scale(var(--invsize));
   
    animation: spin var(--spin-rate) linear infinite;

}

@keyframes spin {
    from {
        transform: scale(var(--invsize)) rotate(0deg);
    }
    to {
        transform: scale(var(--invsize)) rotate(360deg);
    }
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-x {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(200px);
    }
}
