/* exported svg styles */
.st1 {
    fill: #FFFFFF;
}

.st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 1.25;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #CC3333;
}

.st17 {
    fill: #E8A59B;
}

.st18 {
    fill: #A66E68;
}

.st19 {
    fill: #DD7668;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #990000;
}

.st21 {
    fill: #660000;
}

.st22 {
    fill: #DD7668;
}

.st23 {
    fill: #7E0000;
}

.st25 {
    stroke: #000000;
    stroke-width: 0.9839;
    stroke-miterlimit: 10;
}

.st26 {
    fill: #CC3333;
    stroke: #000000;
    stroke-width: 0.9839;
    stroke-miterlimit: 10;
}

.st27 {
    fill: #E8A59B;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st29 {
    fill: #231F20;
}

/* typography */
text.info, div.info {
    font-size: 18px;
    color: #222;
    padding: 0.5em 1em;
    display: block;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 55%;
}

/* custom properties for animation */
:root {
    --size: 1;
    --invsize: calc(1 / var(--size));
    --flow-rate: 10s;
    --opacity-rate: calc(var(--flow-rate) *1.01);
    --spin-rate: calc(var(--flow-rate)* 1.2);
    --vessel-x: 250px;
}

#Rect-inner, 
#Circle-inner {
    transform-box: fill-box; 
    transform-origin: center;
    -webkit-transform: scale(var(--size));
    -moz-transform: scale(var(--size));
    transform: scale(var(--size));
}

#RBC_circle {
    animation: animate-opacity var(--flow-rate) ease-in-out infinite;
}

.animate-x {
    animation: animate-x var(--flow-rate) linear infinite;
}
#RBC_rect,
#RBC_rect2 {
    transform: translateX(calc(-280px * var(--size)));
}
#RBC_rect2 {
    animation-delay: calc(var(--flow-rate) / 2);
}   
#RBC_rect3 {
    transform: translateX(calc(-280px * var(--size)));
    animation-delay: calc(var(--flow-rate) );
}
g.spin {
    transform-box: fill-box; 
    transform-origin: center;
    transform-origin: center center; /* moved here */

    -webkit-transform: scale(var(--invsize));
    -moz-transform: scale(var(--invsize));
    transform: scale(var(--invsize));
   
    animation: spin var(--spin-rate) linear infinite;

    -webkit-filter: drop-shadow( 2px 3px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow( 2px 3px 2px rgba(0, 0, 0, .5));

}

@keyframes spin {
    from {
        transform: scale(var(--invsize)) rotate(0deg);
    }
    to {
        transform: scale(var(--invsize)) rotate(360deg);
    }
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-x {
    0% {
        transform: translateX(calc(-1 * var(--vessel-x) * var(--size)));
    }

    100% {
        transform: translateX(calc(var(--vessel-x) * var(--size)));
    }
}

.ui-nav button.selected{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    -webkit-filter: drop-shadow( 0px 0px 3px #337ab7);
    filter: drop-shadow( 0px 0px 3px #337ab7);
}